.welcome-dev-card {
  width: 130px;
  font-size: 0.8rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgb(145, 145, 145);
  overflow: hidden;
}

.welcome-dev-card img {
  width: 100%;
  height: 130px;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.welcome-dev-card img:hover {
  transform: scale(1.1);
}

.welcome-dev-card a {
  color: #1a8ed1;
}

.welcome-dev-card .dev-info {
  padding: 6% 10%;
}

.dev-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dev-info .name {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.dev-info .tech {
  font-size: 0.7rem;
  color: grey;
}

@media only screen and (max-width: 600px) {
  .welcome-dev-card {
    width: 100px;
    height: 150px;
  }

  .welcome-dev-card img {
    width: 100px;
    height: 100px;
  }
}
