.welcome-info {
  max-width: 570px;
  margin-top: 2rem;
  width: 80%;
  text-align: center;
  color: antiquewhite;
}

h2 {
  margin-bottom: 1rem;
}

.welcome-info p {
  margin-bottom: 1.4rem;
}

.welcome-info button {
  background-color: #c93f3f;
  border-color: #c93f3f;
  color: white;
  width: 60%;
  font-weight: bold;
  padding: 0.8rem 2.4rem;
}

.welcome-info button:hover {
  background-color: #993131;
  border-color: #993131;
}

@media only screen and (max-width: 600px) {
  .welcome-info button {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .welcome-info {
    width: 70%;
  }

  .welcome-info h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .welcome-info p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .welcome-info button {
    font-size: 1.2rem;
    width: 80%;
  }
}
