* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #3f3f3f;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: #1a8ed1;
  color: white;
  border: 1px solid #1a8ed1;
}

button:hover,
button:active {
  background-color: #126596;
  border-color: #126596;
  color: white;
}
