.form-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: whitesmoke;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea,
form select {
  max-width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

form textarea {
  min-width: 100%;
}


.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.form-actions button {
  max-width: 200px;
  min-width: 100px;
  width: 25%;
}

.form-actions button:first-child {
  background-color: #c93f3f;
  border-color: #c93f3f;
}

.form-actions button:disabled,
.form-actions button:disabled:hover {
  background-color: #ccc;
  color: #424242;
  border-color: #ccc;
  cursor: not-allowed;
}

.invalid {
  border: 2px solid #ff6262;
  background-color: #ffbfbf;
}

.invalid:focus {
  border-color: #ff9d2d;
  background-color: #ffe1bf;
}

@media only screen and (min-width: 768px) {
  form {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  form div {
    width: 48%;
  }

  form textarea {
    height: 74px;
    max-height: 94px;
    min-height: 74px;
  }

  .form-actions {
    width: 97%;
  }
}
